.Volver_Link { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; color: #ff8000; text-align: right; text-decoration: none }
.Texto8_verda8verde { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; color: #008000; text-decoration: none }
.Texto9_verda7verde { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; color: #008000; text-decoration: none }
.Cabe2_verda8azulclaro  { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; color: #4080c0; text-decoration: none }
.Cabe1_verda8azulclarocentrado { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; color: #204080; text-align: center; text-decoration: none }
.TituloVentanaWindows {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF; background-color: #000080}
.TextodeCampos {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000}
.RojoVerdana10 {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #FF0000}
.TextodeCampoClave { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FF0000}
.Texto6_verdana6azuloscuro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	font-style: normal;
	color: #000066;
	text-decoration: none ;
}
.Texto7_verdana7azuloscuro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	color: #204080;
	text-decoration: none ;
	font-weight: normal
}
.Texto7_verdana7negro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	color: #000000;
	text-decoration: none ;
	font-weight: normal
}
.Texto7_verdana7azuloscuronegrilla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	color: #204080;
	text-decoration: none ;
	font-weight: bold
}
.Texto8_verdanaAzulclarito
{ 
       font-family: Verdana, Arial, Helvetica, sans-serif; 
	   font-size: 8pt; font-style: normal; 
	   color: #4080c0; 
	   text-decoration: none 
}
.Texto9_verdanaazuloscuro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	color: #204080;
	text-decoration: none ;
	font-weight: normal
}
.Texto10_verdanaazuloscuro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #204080;
	text-decoration: none ;
	font-weight: normal
}

.Texto11_verdanaazuloscuro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	color: #204080;
	text-decoration: none ;
	font-weight: normal
}

.Textoverda8naranjaizda {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #ff8000;
	text-decoration: none
}.Texto8_verda8azul {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000066}
